<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Email</title>
</head>

<body>
<div style="height: 100vh;">
    <div style="width: fit-content; margin: auto;">
        <img style="width: 45px; height: 45px;" th:src="@{cid:logoImage}" alt="logo">
    </div>
    <div>
        <img style="height: auto;
  width: 100%;" th:src="@{cid:banner}" alt="banner">
    </div>
    <div>
        <div>
            <p style="font-weight: bold;">Hi <span th:text="${username}">Ahmed</span>,</p>
            <p>Here is your One Time Password (OTP).
                Please enter this code to verify your account for Bankly.
            </p>
            <div style="background-color: #f12b2b;
                border-radius: 5px;">
                <p style="padding: 15px;
                    color: white;
                    font-size: larger;
                    font-weight: bolder;
                    text-align: center;" th:text="${messageBody}">12359</p>
            </div>
            <div>
                <p>OTP will expire in 5 minutes.</p>
            </div>
            <div>
                <p>Best Regards,</p>
                <p style="font-weight: bold; color: #f12b2b;">BANKLY team.</p>
            </div>
        </div>
        <div style="border-top: solid 1px #f12b2b;
            border-bottom: solid 1px #f12b2b;
            padding: 10px 0;">
            <div style="width: fit-content; margin: auto;">
                <img th:src="@{cid:instagram}" alt="instagram">
                <span style="width: fit-content; margin: 0 10px;"></span>
                <img th:src="@{cid:facebook}" alt="facebook">
            </div>
        </div>
    </div>
    <footer>
        <p style="width: 100%; text-align: center;">© 2023 BANKLY. All rights reserved.</p>
        <p style="width: 100%; text-align: center;">You are receiving this mail because you registered to join the CIRCO
            platform as a user or a creator.
            This also shows that you agree to our Terms of use and Privacy Policies. If you no longer want to
            receive mails from use, click the unsubscribe link below to unsubscribe.
        </p>
        <div>
            <a href="#" style="color: #f12b2b; text-decoration: none;">Privacy policy</a>
            <a href="#" style="color: #f12b2b; text-decoration: none;">Terms of service</a>
            <a href="#" style="color: #f12b2b; text-decoration: none;">Help center</a>
            <a href="#" style="color: #f12b2b; text-decoration: none;">Unsubscribe</a>
        </div>
    </footer>
</div>
</body>

</html>